<%= form_tag('/page/admin_resp_availability') do %>
    <%= hidden_field_tag :location , @location%>
    <div class="span2">&nbsp</div>
    <div class="span9 text-center">
      <h1>Ingresar disponibilidad</h1>
      <br>
      <table class="table table-hover">
        <tr>
          <div class="control-group">
            <div class="controls">
              <%= select_tag :day_of_the_week, options_for_select(@day),:prompt => 'Seleccione un dia de la semana'%>
            </div>
          </div>
        </tr>
        <tr>
          <td><h5>Hora Inicial:</h5></td>
          <td class="text-center">
            <%= time_select 'event', :timeI, { :default => Time.now.change(:hour => 8), :simple_time_select => true,
                                               :minute_interval => 40, :time_separator => '', :start_hour => 8, :end_hour => 16 } %>
          </td>
        </tr>
        <tr>
          <td><h5>Hora Final:</h5></td>
          <td class="text-center">
            <%= time_select 'event', :timeF, { :default => Time.now.change(:hour => 8), :simple_time_select => true,
                                               :minute_interval => 40, :time_separator => '', :start_hour => 8, :end_hour => 16 } %>
          </td>
        </tr>
      </table>
      <%= button_tag(type: "submit", class: "btn btn-danger", title:"Actualizar disponibilidad") do %>
          Agregar disponibilidad
      <%end%>
    </div>
<%end%>
<div class="span2 text-center"><br></div>