<div class="container text-center">
  <h1>Registrar nuevo consultorio</h1><br>
  <%= form_tag('/page/admin_addCons') do %>
      <div class="control-group">
        <div class="controls">
          <%= text_field_tag :location, nil, {placeholder: 'ID (ubicación)'} %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= select_tag :espec, options_for_select(@especialidades),:prompt => 'Seleccione una especialidad'%>&nbsp o &nbsp<%= text_field_tag :specialty, nil, {placeholder: 'Ingrese una nueva'} %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= button_tag(type: "submit", class: "btn btn-success", title: "Agregar un consultorio al sistema") do %>
              Registrar consultorio <i class="icon-white icon-plus"></i>
          <% end %>
        </div>
      </div>
  <% end %>
  </form>
</div>
<hr>