<div class="container text-center">
  <% if session[:usuario]=='doc' %>
      <div class="row">
        <div class="span2">
          <h3 class="text-center"><%=session[:nombre]%></h3>
        </div>
        <!-- TABLA DE CITAS ACTUALES -->
        <div class="span10">
          <% if @recDisp and DoctorAvailability.where(:pID_doctor => session[:cedula]).empty?%>
              <div class="alert">
                <a class="close" data-dismiss="alert">×</a>
                <strong>Importante!</strong> Ingrese sus disponibilidades antes del fin del día. &nbsp<%= link_to "Ingresar disponibilidades", "/page/add_availability", :method => :post, :class=> 'btn btn-warning btn-small'%>
              </div>
          <% end %>
          <h3>Próximas citas</h3>
          <% if @citas.empty?%>
              <h6>Actualmente, usted no tiene citas programadas.</h6><br>
          <% else %>
              <table class="table table-hover">
                <tr>
                  <th width="58%" align="left">Paciente</th>
                  <th width="24%" align="center">Fecha</th>
                  <th width="18%" align="center">Hora</th>
                  <th width="18%" align="center">Consultorio</th>
                  <th width="18%" align="center"></th>
                </tr>
                <!--ESTO SE REPITE N VECES (NUMERO DE CITAS YA RESERVADAS)-->
                <% @citas.each do |c| %>
                    <tr>
                      <%= form_tag('/page/doc_cancelar') do %>
                          <td width="58%" align="left"><%= Patient.where(:pID => c[:pID_patient]).first[:name] %></td>
                          <td width="24%" align="center"><%= c[:day].to_formatted_s(:long) %></td>
                          <td width="18%" align="center"><%= c[:hour].to_s(:time) %></td>
                          <td width="18%" align="center">
                            <%= button_tag(type: "submit", class: "btn btn-danger", title:"Cancelar la cita") do %>
                                Cancelar
                            <% end %>
                          </td>
                          <%= hidden_field_tag :hora, c[:hour] %>
                          <%= hidden_field_tag :cedPat, c[:pID_patient] %>
                          <%= hidden_field_tag :dia, c[:day] %>
                      <% end %>
                    </tr>
                <% end %>
                <!--HASTA ACÁ-->
              </table>
          <%end%>
        </div>
      </div>
      <hr>
  <% else %>
      <h1 class="text-error">Login Incorrecto</h1>
      <h6>Contraseña incorrecta</h6>
      <a class="btn btn-primary" href="/page/doc_login" title="Regresar a la página de login">
        <i class="icon-white icon-arrow-left"></i> Volver</a>
  <% end %>
</div>