

<% if session[:usuario]==nil %>

  <div class="container text-center">
    <p class="text-center">
      <h1>Ingresar como paciente</h1>
      <h4>Ingrese sus credenciales:</h4><br>
      <%= form_tag('/page/pat_page') do %>
      <div class="control-group">
        <div class="controls">
          <%= text_field_tag :name, nil, {placeholder: 'Nombre'} %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= password_field_tag :pID, nil, {placeholder: 'Cédula'} %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= button_tag(type: "submit", class: "btn btn-primary") do %>
          Entrar <i class="icon-white icon-user"></i>
          <% end %>
        </div>
      </div>
      <%end%>
    </p>
  </div>
  <hr>
  <!--tr>
    <th>Iniciar sesión como Paciente</th>
  </tr>
  <tr>
    <%= form_tag('/page/pat_page') do %>
    <br><td align="center">Nombre: <%= text_field_tag :name, nil, {placeholder: 'Número de Cédula'}%>>
    <br>Cédula: <%= password_field_tag :pID%>
    <br><%= submit_tag 'Entrar' %></td>
    <%end%>
  </tr-->

  <% elsif session[:usuario]=='pat'%>

  <meta http-equiv="refresh" content="0;url=http://127.0.0.1:3000/page/pat_page">


  <% elsif session[:usuario]=='doc'%>

  <meta http-equiv="refresh" content="0;url=http://127.0.0.1:3000/page/doc_page">


  <% elsif session[:usuario]=='jce'%>

  <meta http-equiv="refresh" content="0;url=http://127.0.0.1:3000/page/admin_page">

  <%end%>